# operationg system
.DS_Store
Thumbs.db

# project files
.idea
.codeintel
*.sublime-project
*.sublime-workspace

# python stuff
.env
env/
__pycache__/
*.py[cod]
*.egg-info
.eggs/
build/
dist/
.eggs/

# testing files
.coverage
.cache
.covhtml/
htmlcov/

# databases, files, etc
*.sqlite
*.sqlite3
*.log
